<div class="container-body">
    <div class="container-body-column">
        <div class="flex-column width-20pct">
            <div class="avatar flex-row">
                <div class="avatar-pic">
                    <img src="./img/picto-aer.png" alt="">
                </div>
                <div class="avatar-profile flex-column">
                    <div class="profile flex-column">
                        <small>Nama</small>
                        <span>AZHAM</span>
                    </div>
                    <div class="profile flex-column">
                        <small>Sekolah</small>
                        <span>SEKOLAH KEBANGSAAN SIMPANG LIMA</span>
                    </div>
                    <div class="profile flex-column">
                        <small>Alamat</small>
                        <span>7, JLN BESAR</span>
                    </div>
                </div>
            </div>
            <div class="menus flex-column">
                <div class="menu-header">
                    Peringkat Sekolah
                </div>
                <div class="menu-list flex-column">
                    <div class="menu-item flex-row">
                        <img src="./img/picto-ts.png" alt="">
                        5.2R Cabaran Kereta Lestari
                    </div>
                    <div class="menu-item flex-row selected">
                        <img src="./img/picto-ts.png" alt="">
                        5.3K Techlympics Quiz-A-Thon
                    </div>
                    <div class="menu-item flex-row">
                        <img src="./img/picto-aer.png" alt="">
                        2.1K Misi penerbangan dron
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container flex-column width-50pct flex-grow-2  scroll">
            <div class="book flex-column">
                <div class="book-header flex-row">
                    Teknologi Sohor | 5.3K Techlympics Quiz-A-Thon
                </div>
                <div class="book-container">
                    <div class="book-list flex-row">
                        <div class="tarikh">
                            05-07-2023
                        </div>
                        <div class="book-title">
                            Soalan Quiz Sekolah Rendah Set 1
                        </div>
                        <div class="status float-right">
                            00:15:32
                        </div>
                    </div>
                    <div class="book-list flex-row">
                        <div class="tarikh">
                            06-07-2023
                        </div>
                        <div class="book-title">
                            Soalan Quiz Sekolah Rendah Set 2
                        </div>
                        <div class="status float-right">
                            Belum
                        </div>
                    </div>
                    <div class="book-list flex-row">
                        <div class="tarikh">
                            07-07-2023
                        </div>
                        <div class="book-title">
                            Soalan Quiz Sekolah Rendah Set 3
                        </div>
                        <div class="status float-right">
                            Belum
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column width-20pct">
            <div class="youtube">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/AGKhWREcl-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <ul class="tree">
                <li>
                    Senarai Pertandingan Ditawarkan
                    <ul class="tree">
                        <li>Teknologi Sohor</li>
                        <li>Inovasi Kreatif Untuk Kesejahteraan Rakyat</li>
                        <li>Sains & Inovasi</li>
                        <li>Aeroangkasa</li>
                        <li>Kecerdasan Buatan & Sains Data</li>
                        <li>Keterangkuman Malaysia Madani</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
</div>