<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="container center">
            <div class="header">
                <div class="header-column">
                    <div class="flex-row flex-grow-1 text-center center">
                        <img class="logo" src="./img/techlympics-colored.png" alt="">
                    </div>
                    <div class="flex-row flex-grow-2 text-center center">
                        <div class="button">Button 1</div>
                    </div>
                    <div class="flex-row flex-grow-1 text-center center">
                        <div class="button">Button 1</div>
                        <div class="button">Button 1</div>
                    </div>
                </div>
            </div>
            <div class="container-body">
                <div class="container-body-column">
                    <div class="flex-row width-20pct">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                    
                    </div>
                    <div class="flex-column width-50pct flex-grow-2 text-center scroll">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                    
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                        
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                        
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                
                    </div>
                    <div class="flex-row  width-20pct">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam delectus ipsa reiciendis? Maiores molestias, omnis labore unde ab soluta corporis esse officia cumque facere consequatur animi repellat ipsa. Optio, soluta?</p>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>