<html>
    <head>
        <title>Techlympics 2023 Online Arena</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="0">

  
        <link rel="stylesheet" href="./style.css?1.1">
        <link rel="stylesheet" type="text/css" href="./assets/fontawesome/css/solid.min.css" crossorigin="anonymous">
    </head>
    <body>
        <script src="./assets/fontawesome/js/d0267849d0.js" crossorigin="anonymous"></script>
        <div class="container center">
            <%- include ('__nav.ejs') %>
            <%- include (page) %>
        </div>
    </body>
</html>