<div class="login flex-column anim-slide-in-top">
    <div class="login-header text-center">
        Log Masuk
    </div>
    <div class="login-body flex-column">
        <div class="fields flex-column">
            <span>MyKad/ MyKid</span>
            <input type="text" id="userid" value="070205141733">
        </div>
        <div class="fields flex-column">
            <span>Kata Laluan</span>
            <input type="password" id="pwd" value="Abc123">
        </div>
        <div class="fields flex-column float-right">
            <div id="log_masuk" class="button" onclick="onLogin()"><span>Log Masuk</span></div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    var api = {
        login: (fn)=>{
            data = {
                uid: $('#userid').val(),
                pwd: $('#pwd').val()
            }
            console.log(data);
            $.ajax({
                type: "POST",
                url: '/api/user/login',
                data: data,
                success: function (res) {
                    fn(res);
                },
                dataType: 'json'
            });
        }
    }


    function onLogin(){
        api.login(d=>{
            window.location.href = "/"
        });
    }
</script>