<div class="login flex-column">
    <div class="login-header text-center">
        Log Masuk
    </div>
    <div class="login-body flex-column">
        <div class="fields flex-column">
            <span>MyKad/ MyKid</span>
            <input type="text" id="userid">
        </div>
        <div class="fields flex-column">
            <span>Kata Laluan</span>
            <input type="password" id="pwd">
        </div>
        <div class="fields flex-column float-right">
            <a href="../" class="button">Log Masuk</a>
        </div>
    </div>
</div>